html, body {
    background: url(../img/background.jpg);
    font-family: 'Myriad Pro', Tahoma, sans-serif;
    color: #fff;
    font-size: 16px;
}
body h1 {
    font-size:45px;
    font-weight:bold;
    line-height:45px;
    color: #fff;
    margin-bottom:0px;
}
#header{ 
    height:125px;
    margin-top:55px;

}
#contact-info {
    border-left-color:#7A7A7A;
    border-left-style:solid;
    border-left-width:1px;
    float:left;
    font-size:14px;
    height:62px;
    line-height:20px;
    margin-top:25px;
    padding-left:35px;
    padding-top:20px;
}


#box-main {
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:#0d0e11;
    text-align: center;
    padding-top: 25px
}
#button {
    -moz-border-radius: 15px;
    border-radius: 10px;
    background-color:#E3EAEF; 
    font-size: 25px;
    color:#7A7A7A;
    padding: 15px 0px 15px 0px;
    margin: 15px 0px 15px 0px;
}

